<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Utah Football Schedule and Scores</title>
	
	<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet">
	
	<script src="js/bootstrap.min.js" type="text/stylesheet"></script>
	<script src="js/npm.js" type="text/stylesheet"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="logos">
			<span>{{oppLogoBig}}</span>
			<span>{{utahLogoBig}}</span>
		</div>
	</div>
	<div class="row countdown">
		<div class="oppName">{{oppName}}</div>
		<div class="gameInfo">
			<div>{{gameDate}} at {{gameTime}} MT</div>
			<div>Current Date: {{currDate}}, {{currtime}} MT</div>
		</div>
	</div>
	<div class="row">
		<table class="counter">
			<tr>
				<td class="block">{{cdownDays}}</td>
				<td class="block">{{cdownHours}}</td>
				<td class="block">{{cdownMinutes}}</td>
				<td class="block">{{cdownSeconds}}</td>
			</tr>
			<tr>
				<td class="">days</td>
				<td class="">hours</td>
				<td class="">minutes</td>
				<td class="">seconds</td>
			</tr>
		</table>
	</div>
	<div class="schedule">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Team</th>
					<th>Date</th>
					<th>Time</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{oppLogo}}</td>
					<td>{{oppLocale}} {{oppMascot}}</td>
					<td>{{gameDate}}</td>
					<td>{{gameTime}} MT</td>
					<td>{{gameResult}} {{gameScore}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

</body>
</html>