<div class="container">
	<div class="top">
		<div class="row">
			<table class="logos">
				<tr>
					<span>Is the next game a home game?: {{nextGame.homeGame}}</span>
					{{#nextGame.homeGame}}
						<td class="logoTD"><img src="img/{{nextGame.logo}}" /></td>
						<td><span>@</span></td>
					{{/nextGame.homeGame}}
					{{^nextGame.homeGame}}
						<td><span>@</span></td>
						<td class="logoTD"><img src="img/{{nextGame.logo}}" /></td>
					{{/nextGame.homeGame}}
				</tr>
			</table>
		</div>
		<div class="row countdown">
			<h1 class="block">{{nextGame.opponent}}</h1>
			<h2 class="block">{{nextGame.mascot}}</h2>
			<div class="gameInfo">
				<h3>{{nextGame.displayDate}} at {{nextGame.displayTime}}</h3>
				<div>Current Date: <span id="currentDate">never</span></div>
				<div>{{nextGame.difference}}</div>
			</div>
		</div>
		<div class="row counter" id="counter" data-unix="{{nextGame.dateTimeUnix}}">
			<table class="center">
				<tr class="counterNums">
					<td class="block" id="counterDays"></td>
					<td class="block" id="counterHours"></td>
					<td class="block" id="counterMinutes"></td>
					<td class="block" id="counterSeconds"></td>
				</tr>
				<tr>
					<td>days</td>
					<td>hours</td>
					<td>minutes</td>
					<td>seconds</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="schedule">
	{{> schedule }}
	</div>
</div>