<table class="table center">
	<thead>
		<tr>
			<th> </th>
			<th>Opponent</th>
			<th>Date</th>
			<th>Time</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody ng-repeat="game in games">
		{{#games}}
		<tr class="{{#homeGame}}home {{/homeGame}}">
			<td class="logo"><img src="{{opponentlogo}}" /></td>
			<td>{{^homeGame}}<span>@</span> {{/homeGame}}{{opponent}} {{mascot}}</td>
			<td>{{displayDate}} {{displayYear}}</td>
			<td>{{displayTime}}</td>
			<!-- <td>
				<span>{{datetime}}</span>
			</td> -->
			<td><span class="result {{result}}">{{result}}</span> {{score}}</td>
		</tr>
		{{/games}}
	</tbody>
</table>