// fonts
@import url(https://fonts.googleapis.com/css?family=Graduate);

body {
  font-size: 14px;
}
.block {
  font-family: Graduate;
}
.center {
  margin: 0 auto;
}

.top {
  text-align: center;
}
.top h1 {
  font-size: 460%;
  margin-bottom: 0;
}
.top h2 {
  font-size: 300%;
  margin-top: 0;
}
.top .logos {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.top .logos td.logoTD {
  width: 50%;
  padding: 0 2%;
}
.top .logos td > span {
  font-size: 200%;
  font-weight: bold;
}
.top .logos img {
  width: 100%;
}

.counter table{
  width: 100%;
  max-width: 500px;
}
.counter .counterNums {
  font-size: 500%;
}
.counter .counterNums td{
  padding: 0 2%;
}

.schedule > table{
  margin: 30px 0;
}
.schedule .logo {
  text-align: center;
}
.schedule .logo > img {
  max-height: 30px;
}
@media screen and (max-width: 460px){
  body {
    font-size: 12px;
  }
  .counter .counterNums {
    font-size: 350%;
  }
}

// temporarily make huge logos less huge
.top .logos td.logoTD {
  width: 10%;
}